html{
    position: relative;
    min-height: 100%;
}

body {
    background: url("../images/background.png") no-repeat center fixed;
    background-size: cover;
    background-color: #ebf7fc;
    margin-bottom: 60px;
}

.logo{
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.h3 {
    text-align: center;
}

.boton{
    position: relative;
    cursor: pointer;
}

.texto-btn{
    font-weight: 400;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    position: absolute;
    top: 5%;
    width: 100%;
}

.tituloContenido{
    margin-top: 20px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

#mails {
    padding: 25px;
    padding-bottom: 40px;
}

.subtitulo{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.nombre{
    font-size: 16px;
}

.contenido {
    padding-bottom: 40px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 2px;
    border-radius: 15px;
    border-color: #0f75bb;
}

#somos {
    margin-left: 80px;
    margin-right: 80px;
}


.banner{
    height: 200px;
}

.footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

#wrapper{
}

.mapa {
    margin-left: auto;
    margin-right: auto;
}


#features{
    margin: 30px;
    font-size: 16px;
}

#mision{
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}


.icon-taller{
    max-height: 64px;
}

.taller{
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
}

.con-separador{
    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: 2px;
}

.sep-izq{
    border-right-color: lightgray;
    border-right-style: solid;
    border-right-width: 2px;
}

.textoContenido{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.noticia{
    border-bottom: solid 1px;
    border-color: lightgray;
    padding-bottom: 20px;
    margin-top: 15px;
}
